body {
    background: #F3F3F3;
    font-size: 87.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    line-height: 1.7em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #E70E2D;
}

a:hover {
    color: #666666;
}

h2 {
    color: #E70E2D;
}

.clr {
    clear: both;
}

#container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    clear: both;
}

.main-header #logo {
    width: 45%;
    margin: 10px 0;
    display: block;
    transition: width 1s;
}

.main-header .main-nav {
    background: #a00e23;
    height: 40px;
    border-radius: 5px;
    border: 1px #d81a35 solid;
}

.main-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header .main-nav li {
    color: #ffffff;
    display: inline;
    margin-right: 3px;
}

.main-header .main-nav li a {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    height: 20px;
}

.main-header .main-nav li a:hover,
.main-header .main-nav li a.active {
    background: #f3f3f3;
    color: #666666;
    border-radius: 5px;
}

#content {
    width: 70%;
    float: left;
    overflow: auto;
    transition: width 1s;
}

#content article {
    border-radius: 5px;
    background: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    overflow: auto;
}

#content article span {
    font-style: italic;
    color: #000000;
}

#content a.readmore {
    display: block;
    float: right;
    color: #ffffff;
    padding: 5px 9px;
    background: #a00e23;
    border-radius: 5px;
    border: 1px solid #d81a35;
}

#content a.readmore:hover {
    background: #f3f3f3;
    color: #000000;
}

#sidebar {
    width: 30%;
    float: left;
}

#sidebar .block {
    border-radius: 5px;
    background: #ffffff;
    padding: 10px 15px;
    margin: 10px 0 0 10px;
    overflow: auto;
}

footer {
    background: #a00e23;
    height: 40px;
    border: 1px solid #d81a35;
    margin-top: 10px;
    border-radius: 5px;
}

footer p {
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}


/* media */

@media only screen and (min-width: 768px) and (max-width:980px) {
    #container {
        width: 95%;
    }
    .main-header img#logo {
        margin: auto;
        display: block;
        width: 65%;
        transition: width 1s;
    }
    .main-header .main-nav {
        display: block;
        transition: height 1s;
    }
    #content {
        width: 100%;
        float: none;
        transition: width 1s;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    #sidebar .block {
        margin-left: 0;
    }
}

@media only screen and (min-width: 569px) and (max-width:767px) {
    #container {
        width: 95%;
    }
    .main-header img#logo {
        margin: auto;
        display: block;
        width: 65%;
    }
    #content {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    #sidebar .block {
        margin-left: 0;
    }
    .main-header .main-nav {
        height: auto;
        display: block;
        overflow: hidden;
        width: 99%;
        transition: width 1s;
    }
    .main-header .main-nav ul {
        padding: 2% 1%;
        text-align: center;
        width: 98%;
    }
    .main-header .main-nav li {
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        border-bottom: 1px solid #a00e23;
    }
    .main-header .main-nav li {
        margin-bottom: 2px;
        text-align: center;
    }
    .main-header .main-nav li a:hover,
    .main-header .main-nav li a.active {
        display: block;
    }
}

@media only screen and (max-width:568px) {
    #container {
        width: 95%;
    }
    .main-header img#logo {
        margin: auto;
        display: block;
        width: 95%;
    }
    #content {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    #sidebar .block {
        margin-left: 0;
    }
    .main-header .main-nav {
        height: auto;
        display: block;
        overflow: hidden;
        width: 99%;
        transition: height 3s;
    }
    .main-header .main-nav ul {
        padding: 2% 1%;
        text-align: center;
        width: 98%;
    }
    .main-header .main-nav li {
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        border-bottom: 1px solid #a00e23;
    }
    .main-header .main-nav li {
        margin-bottom: 2px;
        text-align: center;
    }
    .main-header .main-nav li a:hover,
    .main-header .main-nav li a.active {
        display: block;
    }
}